# ASSIGNMENT CONFIG
generate: true

# Run the cell below

To run a code cell (i.e.; execute the python code inside a Jupyter notebook) you can click the play button on the ribbon underneath the name of the notebook. Before you begin click the "Run cell" button at the top that looks like ▶| or hold down `Shift` + `Return`.

## Lab 01: Python Basics

Welcome to the first lab of Advanced Topics in Data Science! Throughout the course you will complete assignments like this one. You can't learn technical subjects without hands-on practice, so these assignments are an important part of the course.

**Collaboration Policy:**

Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on questions in labs, so ask a neighbor or an instructor for help. Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it. You should **not** _just_ copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

**Due Date:** 

## Today's Assignment 

In today's assignment, you'll review:

- the basics of Python

- `NumPy`

- creating collection arrays

- writing `if` statements and `for` loops.

First, set up the imports by running the cell below.

In [2]:
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use("fivethirtyeight")

## 1. Magic Commands

`%matplotlib inline` is a Jupyter magic command that configures the notebook so that Matplotlib displays any plots that you draw directly in the notebook rather than to a file, allowing you to view the plots upon executing your code.

Another useful magic command is `%%time`, which times the execution of that cell. You can use this by writing it as the first line of a cell.

**Note:** `%%` is used for cell magic commands that apply to the entire cell, whereas `%` is used for line magic commands that only apply to a single line.

Run the cell below.

In [3]:
%%time

# Create an empty list
my_list = []

# for loop to iterate through the values 0 to 99
for i in range(100):
    my_list.append(i) # The .append method will add an item to the end of a list

CPU times: user 6 µs, sys: 0 ns, total: 6 µs
Wall time: 7.87 µs

The time for executing the previous cell is given in $\mu$s (i.e. micro seconds).

# BEGIN QUESTION
name: q1

**Question 1.** How many seconds are in 1 micro-second? Assign your answer to `micro_second`.

# BEGIN SOLUTION

In [4]:
micro_second = 0.000001 # SOLUTION
micro_second

1e-06

# END SOLUTION

# BEGIN TESTS

In [5]:
micro_second

1e-06

# END TESTS

# END QUESTION

## 2. Keyboard Shortcuts

Even if you are familiar with Jupyter, we strongly encourage you to become proficient with keyboard shortcuts (this will save you time in the future). To learn about keyboard shortcuts, go to **Help $\to$ Keyboard Shortcuts** in the menu above.

Here are a few that we like:

1. Ctrl + Return: Evaluate the current cell

1. Shift + Return: Evaluate the current cell and move to the next

1. ESC: command mode (may need to press before using any of the commands below)
 -  a: create a cell above
 -  b: create a cell below
 - dd: delete a cell
 -  z: undo the last cell operation
 -  m: convert a cell to markdown
 -  y: convert a cell to code

## 3. Prerequisites

It's time to answer some review questions. Each question has a response cell directly below it. Most response cells are followed by a test cell that runs automated tests to check your work. Please don't delete questions, response cells, or test cells. You won't get credit for your work if you do.

If you have extra content in a response cell, such as an example call to a function you're implementing, that's fine.

### Python

Python is the main programming language we'll use in the course. We expect that you've taken Foundations of Data Science or an equivalent class, so we will not be covering general Python syntax. If any of the below exercises are challenging (or if you would like to refresh your Python knowledge), please review one or more of the following materials.

- [Python Tutorial: An Introduction to Python from the Creators of Python.](https://docs.python.org/3/tutorial/index.html)

- [Advanced Crash Course in `NumPy`](http://cs231n.github.io/python-numpy-tutorial/)

# BEGIN QUESTION
name: q1

**Question 1.** Write a function named `summation` that evaluates the following summation 

$$\sum_{i=1}^n i^3+3i^2$$

for $n \geq 1$. Put a check in function to make sure that $n$ is an integer and the value of $n$ is greater than or equal to 1. If the value of $n$ is not greater than or equal to 1 print the message

```
n must be an integer and greater than or equal to 1.
```

and not return a value. 

**Note:** You should test your function with multiple values.

# BEGIN SOLUTION

In [6]:
def summation(n):
    """Compute the summation i^3 + 3 * i^2 for 1 <= i <= n."""
    # BEGIN SOLUTION
    if n >= 1 and isinstance(n, int):
        total = [n**3+3*n**2 for n in range(1,n+1)] 
        return sum(total) 
    else:
        print("n must be an integer and greater than or equal to 1.")
    # END SOLUTION

# END SOLUTION

# BEGIN TESTS

In [7]:
summation(1) + summation(2) + summation(3)

106

In [8]:
summation(0)

n must be an integer and greater than or equal to 1.

# END TESTS

# END QUESTION

### Lists 

* Lists are used to store multiple items in a single variable. 

* Lists are a built-in data type in Python used to store collections of data.
.
* Lists may contain different types

* List items are ordered, changeable, and allow duplicate values. 

* List items are indexed, the first item has index `[0]`, the second item has index `[1]` etc

* Lists are created using square brackets. For example, `my_list = [2, 3, 5, 7, 11]`, is a list of the first 5 prime numbers.

# BEGIN QUESTION
name: q2

**Question 2.** Write a function named `list_sum` that computes the square of each value in `list_1`, the cube of each value in `list_2`, then returns a list containing the element-wise sum of these results. 

**Note:** Assume that `list_1` and `list_2` have the same number of elements.

# BEGIN SOLUTION

In [9]:
def list_sum(list_1, list_2):
    """Assume list_1 and list_2 have the same length.
       Compute x^2 + y^3 for each x in list_1, and each y in list_2. 
       Return a list containing the element-wise sum of the results."""
    # BEGIN SOLUTION
    return list([x**2+y**3 for x, y in zip(list_1, list_2)])
    # END SOLUTION

l1 = [1, 2, 3]
l2 = [4, 5, 6]
list_sum(l1, l2)

[65, 129, 225]

# END SOLUTION

# BEGIN TESTS

In [10]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
list_sum(l1, l2)

[65, 129, 225]

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q3

**Question 3.** Write a function named `average_of_all` that takes a number and returns the average of the sum of natural numbers less than or equal to $n$, `average_of_all(3)` would return 2 because 

$$1 + 2 + 3 = 6$$

and 

$$\frac{6}{3} = 2$$

**Hint:** You will need a check to make sure the value passed to the function is greater than 0. If the value passed to the function is not greater than 0 return 0.0. Otherwise assume that all values passed to the function are positive integers.

# BEGIN SOLUTION

In [11]:
def average_of_all(n):
    """Return the average of the sum all natural numbers less than or equal to n.
       >>> average(1)
       1.0
       >>> average(3)
       2.0
       >>> average(8)
       4.5
       >>> average(0)
       0.0
       >>> average(-2)
       0.0"""
    # BEGIN SOLUTION
    if n <= 0:
        return 0.0
    else:
        return (n+1)/2
    # END SOLUTION

average_of_all(3)

2.0

# END SOLUTION

# BEGIN TESTS

In [12]:
average_of_all(0)

0.0

In [13]:
average_of_all(-1)

0.0

In [14]:
average_of_all(8)

4.5

# END TESTS

# END QUESTION

### NumPy

`NumPy` is the numerical computing module introduced in Foundations of Data Science, which is a prerequisite for this course. Here's a quick recap of `NumPy`.

The core of `NumPy` is the array. Like Python lists, arrays store data; however, they store data in a more efficient manner. In many cases, this allows for faster computation and data manipulation.

In Foundations of Data Science, we used `make_array` from the `datascience` library, but that's not the most typical way. Instead, [use `np.array` to create an array](https://numpy.org/doc/stable/reference/generated/numpy.array.html). It takes a sequence, such as a list or range.

# BEGIN QUESTION
name: q4

**Question 4.** Below, import the `NumPy` module using the appropriate aliasing. create an array named `arr_5` containing the values 5, 4, 3, 2, 1 (in that order).

# BEGIN SOLUTION

In [15]:
# BEGIN SOLUTION
import numpy as np 
arr_5 = np.array([5, 4, 3, 2, 1])
# END SOLUTION
arr_5

array([5, 4, 3, 2, 1])

# END SOLUTION

# BEGIN TESTS

In [16]:
isinstance(arr_5, np.ndarray)

True

In [17]:
len(arr_5)

5

In [18]:
sum(arr_5)

15

In [19]:
all([5, 4, 3, 2, 1] == arr_5)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q5

**Question 5.** Create an array named `arr_500` containing the values 500, 499, 498, 497, ..., 1 (in that order).

# BEGIN SOLUTION

In [20]:
arr_500 = np.arange(500, 0, -1) # SOLUTION

# END SOLUTION

# BEGIN TESTS

In [21]:
sum(arr_500)

125250

In [22]:
len(arr_500)

500

In [23]:
np.all(np.diff(arr_500) == -1)

True

# END TESTS

# END QUESTION

We can access attributes of an array such as shape and data type. A full list of attributes can be found [here](https://docs.scipy.org/doc/numpy-1.15.0/reference/arrays.ndarray.html#array-attributes).

In [24]:
# The fourth item in the arr_5 array
arr_5[3]

2

In [25]:
# Items 2 through 3 in the arr_5 array not including the fourth
arr_5[2:4]

array([3, 2])

In [26]:
# The dimensions (i.e. rows and columns)
# arr_5 is one-dimensional array with 5 elements
arr_5.shape

# This method returns the dimensions as a tuple

(5,)

In [27]:
# The data type for all the elements is numerical (integer)
arr_5.dtype

dtype('int64')

Arrays, unlike Python lists, can not store items of different data types.

In [28]:
# A regular Python list can store items of different data types
[1, '3']

[1, '3']

In [29]:
# Arrays will convert everything to the same data type
np.array([1, '3'])

array(['1', '3'], dtype='<U21')

Notice that the 1 was changed to a character an put in between quotation marks.

In [30]:
# Another example of array type conversion
np.array([5, 8.3])

array([5. , 8.3])

Notice that the 5 was changed from an integer to a decimal (float).

Arrays are also useful in performing **vectorized** operations. Given two or more arrays of equal length, arithmetic will perform element-wise computations across the arrays.

For example, observe the following:

In [31]:
# Python list addition will concatenate the two lists
[1, 2, 3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

In [32]:
# NumPy array addition will add them element-wise
np.array([1, 2, 3]) + np.array([4, 5, 6])

array([5, 7, 9])

# BEGIN QUESTION
name: q6

**Question 6.** Given the array `random_arr`, assign `valid_values` to an array containing all values $x$ such that 

$$2x^4>1$$.

# BEGIN SOLUTION

In [33]:
# np.random.seed() sets a seed so that 
# the results are the same each time.
# Do not delete this line. 
np.random.seed(42)

# The line below creates an array 
# of 60 random values from the uniform
# distribution.
random_arr = np.random.rand(60)

valid_values = random_arr[2*random_arr**4 > 1] # SOLUTION
valid_values

array([0.95071431, 0.86617615, 0.96990985, 0.94888554, 0.96563203,
       0.9093204 , 0.96958463, 0.93949894, 0.89482735, 0.92187424])

# END SOLUTION

# BEGIN TESTS

In [34]:
round(sum(valid_values))

9

In [35]:
len(valid_values)

10

In [36]:
np.all(valid_values < 0.97)

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q7

**Question 7.** Use `NumPy` to recreate your answer to **Question 2.** The input parameters will both be lists, so you will need to convert the lists into arrays before performing your operations. Additionally, you will need to make sure that both lists have the same number of items. Assume that both lists are numeric data types.

**Hint:** You can use the `np.array` function to create a `NumPy` array.

# BEGIN SOLUTION

In [37]:
def array_sum(list_1, list_2):
    """Assume list_1 and list_2 have the same length.
       Compute x^2 + y^3 for each x in list_1, and each y in list_2. 
       Return a list containing the element-wise sum of the results."""
    # BEGIN SOLUTION
    list_1, list_2 = np.array(list_1), np.array(list_2)
    return list_1**2 + list_2**3
    # END SOLUTION

l1 = [1, 2, 3]
l2 = [4, 5, 6]
array_sum(l1, l2)

array([ 65, 129, 225])

# END SOLUTION

# BEGIN TESTS

In [38]:
l1 = [1, 2, 3]
l2 = [4, 5, 6]
array_sum(l1, l2)

array([ 65, 129, 225])

# END TESTS

# END QUESTION

You might have been told that Python is slow, but array arithmetic is carried out very fast, even for large arrays. For ten numbers, `list_sum` and `array_sum` both take a similar amount of time.

**Note:** Line 1 in the code cell below uses list comprehension to create a list of 10 elements starting at 0 and ending at 9. For more information on list comprehension and when to use it, click [here](https://realpython.com/list-comprehension-python/).

In [39]:
# Here we use list comprehension to create a list
# of 10 elements starting at 0 and ending at 9.
sample_list_1 = [x for x in range(10)] 

# Here we use a NumPy function, np.arange(10)
# to create an array of 10 elements starting 
# at 0 and ending at 9.
sample_array_1 = np.arange(10)

In [40]:
%%time
list_sum(sample_list_1, sample_list_1)

CPU times: user 8 µs, sys: 1e+03 ns, total: 9 µs
Wall time: 8.82 µs

[0, 2, 12, 36, 80, 150, 252, 392, 576, 810]

In [41]:
%%time
array_sum(sample_array_1, sample_array_1)

CPU times: user 24 µs, sys: 9 µs, total: 33 µs
Wall time: 29.8 µs

array([  0,   2,  12,  36,  80, 150, 252, 392, 576, 810])

The time difference seems negligible for a list/array of size 10; depending on your setup, you may even observe that `list_sum` executes faster than `array_sum`. However, we will commonly be working with much larger datasets:

In [42]:
# Here we use list comprehension to create a list
# of 100000 elements starting at 0 and ending at 99999.
sample_list_2 = [x for x in range(100000)]

# Here we use a NumPy function, np.arange(100000)
# to create an array of 100000 elements starting 
# at 0 and ending at 99999.
sample_array_2 = np.arange(100000)

In [43]:
%%time
list_sum(sample_list_2, sample_list_2)

# The semicolon hides the output
;

CPU times: user 34.8 ms, sys: 1.44 ms, total: 36.2 ms
Wall time: 35.7 ms

In [44]:
%%time
array_sum(sample_array_2, sample_array_2)

# The semicolon hides the output
;

CPU times: user 786 µs, sys: 999 µs, total: 1.78 ms
Wall time: 836 µs

With the larger dataset, we see that using `NumPy` results in code that executes over 50 times faster. Throughout this course (and in the real world), you will find that writing efficient code will be important; arrays and vectorized operations are the most common way of making Python programs run quickly.

# BEGIN QUESTION
name: q8

**Question 9.** Create a list of the first 100 even natural numbers using a `for` loop and the `.append()` method. Save the list to `even_list`.

**Hint:** You must use a for loop to earn all the points for this question.

# BEGIN SOLUTION

In [45]:
# Initialize an empty list
even_list = [] # SOLUTION

# BEGIN SOLUTION
for i in range(2, 202, 2):
    even_list.append(i)
# END SOLUTION
even_list[0:10]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

# END SOLUTION

# BEGIN TESTS

In [46]:
even_list[len(even_list)-1]

200

In [47]:
isinstance(even_list, list)

True

In [48]:
np.sum(np.array(even_list) % 2)

0

In [49]:
0 not in even_list

True

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q9

**Question 9.** Create a list of the first 100 odd natural numbers using a list comprehension. Save the list to `odd_list`.

**Hint:** You must use list comprehension to earn all the points for this question.

# BEGIN SOLUTION

In [50]:
odd_list = [i for i in range(1, 201, 2)] # SOLUTION
odd_list[0:10]

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

# END SOLUTION

# BEGIN TESTS

In [51]:
odd_list[len(odd_list)-1]

199

In [52]:
isinstance(odd_list, list)

True

In [53]:
all(np.array(odd_list) % 2 == 1)

True

# END TESTS

# END QUESTION

### Dictionary

A Python dictionary is a mutable object, and it contains the data in the form of key-value pairs. Each key is separated from its value by a colon (:). For example, a dictionary can be created like this 

`my_dict = {'key1': value, 'key2': value, 'key3': value}`


Dictionaries are a widely used data structure, and a good understanding of its methods and operations is necessary for doing data science.

# BEGIN QUESTION
name: q10

**Question 10.** Below are two lists. Using a `for` loop and the `update()` method of a dictionary convert them into a dictionary in a way that item from `keys_1` is the key and item from `values_1` is the value. Save it to `d`.

`keys_1 = ['Ten', 'Twenty', 'Thirty']`

`values_1 = [10, 20, 30]`

**Note:** Click [here](https://www.w3schools.com/python/ref_dictionary_update.asp) to read about how to use the `update` method.

# BEGIN SOLUTION

In [54]:
keys_1 = ['Ten', 'Twenty', 'Thirty']
values_1 = [10, 20, 30]

# Intialize an empty dictionary
d = {} # SOLUTION

# BEGIN SOLUTION
for k, v in zip(keys_1, values_1):
    d.update({k:v})
# END SOLUTION
d

{'Ten': 10, 'Twenty': 20, 'Thirty': 30}

# END SOLUTION

# BEGIN TESTS

In [55]:
d.keys()

dict_keys(['Ten', 'Twenty', 'Thirty'])

In [56]:
d.values()

dict_values([10, 20, 30])

In [57]:
d['Ten'] + d['Twenty'] + d['Thirty']

60

# END TESTS

# END QUESTION

# BEGIN QUESTION
name: q11

**Question 11.** Create a python dictionary whose keys are the positive integers from 1 to 26, and whose values are tuples containing the lowercase and uppercase letters of the English alphabet. For example,

```
{1:('A', 'a'), 2:('B', 'b'), ..., 26: ('Z', 'z')}
```

Name the dictionary `alphabets`.

**Hint:** The [`string` module](https://docs.python.org/3/library/string.html) provides several English-centric values. Remember to use the functions, methods, etc. from a module you need to import the module into your notebook environment.

# BEGIN SOLUTION

In [58]:
# BEGIN SOLUTION
import string
alphabet = {}
numbers = [num for num in range(1, 27)]
letters = list(zip(string.ascii_uppercase, string.ascii_lowercase))

for numbers, letters in zip(numbers, letters):
    alphabet.update({numbers:letters})
# END SOLUTION
print(alphabet)

{1: ('A', 'a'), 2: ('B', 'b'), 3: ('C', 'c'), 4: ('D', 'd'), 5: ('E', 'e'), 6: ('F', 'f'), 7: ('G', 'g'), 8: ('H', 'h'), 9: ('I', 'i'), 10: ('J', 'j'), 11: ('K', 'k'), 12: ('L', 'l'), 13: ('M', 'm'), 14: ('N', 'n'), 15: ('O', 'o'), 16: ('P', 'p'), 17: ('Q', 'q'), 18: ('R', 'r'), 19: ('S', 's'), 20: ('T', 't'), 21: ('U', 'u'), 22: ('V', 'v'), 23: ('W', 'w'), 24: ('X', 'x'), 25: ('Y', 'y'), 26: ('Z', 'z')}

# END SOLUTION

# BEGIN TESTS

In [59]:
all(isinstance(x, tuple) for x in list(alphabet.values()))

True

In [60]:
all(isinstance(x, int) for x in list(alphabet.keys()))

True

In [61]:
[list(alphabet.values())[0], list(alphabet.values())[17], list(alphabet.values())[25]] == [('A', 'a'), ('R', 'r'), ('Z', 'z')]

True

# END TESTS

# END QUESTION