In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## Arrays

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights / 12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights) / len(heights)

In [ ]:
np.average(heights)

In [ ]:
strings_array = make_array('ok', 'ya', 'hm')
strings_array

In [ ]:
# This will produce an error
strings_array * 2

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

In [ ]:
strings_array.item(0)

## Ranges ##

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Englewood', 'Knox', 'Green', 'Markham')
streets

In [ ]:
Table()

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
southside.labels

In [ ]:
southside.num_columns

In [ ]:
southside.num_rows

## Reading a Table from a File  ##

In [ ]:
du_bois = Table.read_table('data/du_bois.csv')
du_bois

In [ ]:
# Which group ("CLASS") spent the highest percentage on rent?
...

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.select('STATUS')

In [ ]:
du_bois.column('STATUS')

In [ ]:
du_bois.column('ACTUAL AVERAGE')

In [ ]:
du_bois.column('FOOD')

In [ ]:
du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')

In [ ]:
food_dollars = du_bois.column('ACTUAL AVERAGE') * du_bois.column('FOOD')
du_bois = du_bois.with_column(
    'Food $',
    food_dollars
)
du_bois

In [ ]:
du_bois.set_format('FOOD', PercentFormatter)

In [ ]:
du_bois.select('CLASS', 'ACTUAL AVERAGE', 'FOOD', 'Food $')

In [ ]:
du_bois.column('FOOD')

## Selecting data in a column ##

In [ ]:
movies = Table.read_table('data/movies_by_year_with_ticket_price.csv')
movies.show()

In [ ]:
gross_in_dollars = movies.column('Total Gross') * 1e6
tix_sold = gross_in_dollars / movies.column('Average Ticket Price')

In [ ]:
movies = movies.with_column('Tickets sold', tix_sold)

In [ ]:
movies.show(4)

In [ ]:
movies.set_format('Tickets sold', NumberFormatter)

In [ ]:
movies.plot('Year', 'Tickets sold')

In [ ]:
movies.where('Year', are.between(2000, 2005))

In [ ]:
movies.where('Year', 2002)

In [ ]:
movies.where('Year', are.equal_to(2002))

In [ ]:
movies.where('#1 Movie', are.containing('Harry Potter'))

In [ ]:
movies.take(np.arange(2, 5))

## University Table

In [3]:
uni246 = Table.read_table('data/group246_uni.csv')
uni246

University          | Location in NC | In-State Tuition ($) | Acceptance Rate (%) | Non-White Demographic (%) | Population (Total Students) | Avg. HS GPA  | Out of State Enrollment % | Graduation Rate % | Number of Majors
UNC Pembroke        | Pembroke       | 10240                | 91.4                | 61.2                      | 6251                        | 3.61         | 12.8                      | 20                | 36
Shaw University     | Raleigh        | 16480                | 70.6                | 74.7                      | 1174                        | 2.6          | 38.81                     | 15                | 22
NCSSM               | Durham         | 0                    | 24                  | 53.7                      | 680                         | 0            | 0                         | 100               | 3
UNC Charlotte       | Charlotte      | 7096                 | 79.4                | 47.6                      | 30448                       | 4.05         | 9.4                       | 58.4              | 171
UNC School of Arts  | Winston-Salem  | 9358                 | 36.3                | 32.9                      | 1144                        | 3.78         | 50                        | 72.6              | 4
Duke                | Durham         | 57633                | 7.4                 | 56.1                      | 17620                       | 4.13         | 83.5                      | 95.6              | 53
St.Augustine        | Raleigh        | 16884                | 67                  | 99.9                      | 829                         | 2.37         | 32                        | 30.2              | 23
East Carolina       | Greenville     | 15403                | 87.9                | 36.8                      | 29798                       | 3.75         | 15.3                      | 65.2              | 61
North Carolina A&T  | Greensboro     | 9541                 | 56.7                | 95.6                      | 12753                       | 3.8          | 35.7                      | 52.1              | 117
UNC Asheville       | Asheville      | 13854                | 79.4                | 26.2                      | 3363                        | 3.89         | 19                        | 62.4              | 34
... (1 rows omitted)

In [4]:
uni246.num_rows

11

In [ ]:
uni135 = Table.read_table('data/group135_uni.csv')
uni135.show()