In [ ]:
# Initialize Otter
import otter
grader = otter.Notebook("lab06.ipynb")

# Lab 06: A Brief Introduction to SQL

Welcome to Advanced Topics in Data Science for High School! Throughout the course you will complete assignments like this one. You can't learn technical subjects without hands-on practice, so these assignments are an important part of the course.

**Collaboration Policy:**

Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on questions in labs, so ask a neighbor or an instructor for help. Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it. You should **not** _just_ copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

**Due Date:**

## Today's Assignment

In this lab we will work with [SQLite](https://www.sqlite.org/about.html). SQLite is an in-process library that implements a self-contained, serverless, zero-configuration, transactional SQL database engine. The code for SQLite is in the public domain and is thus free for use for any purpose, commercial or private.

We will practice using the skills you learned from completing the SQLite for Python Tutorial.In today's assignment, you'll learn about:

- performing a simple query using [SELECT](https://www.sqlitetutorial.net/sqlite-select/)

- filtering data using DISTINCT and [WHERE](https://www.sqlitetutorial.net/sqlite-where/) 

- joining tables using [JOIN](https://www.sqlitetutorial.net/sqlite-join/)

First, set up the imports by running the cell below.

In [ ]:
import pandas as pd
import numpy as np

## 1. Accessing an SQLite Database in Python

- There is a built in module for accessing an SQLite database, mainly need the path to the database file

- We'll look at the commonly used `chinook` database

![chinook.PNG](images/chinook-er-diagram.png)

Run the cell below to create the engine instance for the `chinook.db`

**Note:** To interact with the SQLite databases in this lab we will use SQLAlchemy, an SQL toolkit that provides access for relational databases.

In [ ]:
import sqlalchemy
db = sqlalchemy.create_engine('sqlite:///data/Chinook_Sqlite.sqlite')

Run the cell below to create an inspection object (meta data about the database) to view the tables in the `chinook.db`.

In [ ]:
insp = sqlalchemy.inspect(db)
insp.get_table_names()

Another way to see all the tables is by querying the schema. A database schema defines how data is organized within a relational database. Every SQLite database contains a **schema table** with information about that database. This describes the

- tables 

- indices (special lookup tables to improve efficiency of queries)

- triggers (named database object that is executed automatically when an `INSERT`, `UPDATE` or `DELETE` statement is issued against the associated table)

- views (read-only tables, combinations of tables, etc.)

A schema file contains one row for each table, index, view, and trigger in the schema

We can get all of the **tables** by issuing an SQL command.  A common SQL command for querying a database's tables is:

```
SELECT name, type 
FROM sqlite_master 
WHERE type='table';
```

<!-- BEGIN QUESTION -->

**Question 1.** Use aforementioned query to return the table names from the `chinook` database.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

### About the Chinook database

The Chinook data model represents a digital media store, including tables for artists, albums, media tracks, invoices, and customers.

- Media-related data was created using real data from an Apple iTunes library. 

- Customer and employee information was created using fictitious names and addresses that can be located on Google maps, and other well formatted data (phone, fax, email, etc.)

- Sales information was auto generated using random data for a four year period.

The Chinook sample database includes:

- 11 tables

- A variety of indexes, primary and foreign key constraints

- Over 15,000 rows of data

## 2. Common SQL commands

- `CREATE TABLE`: Creates a new table

- `INSERT INTO`: Adds records to a table

- `UPDATE`: Modifies an existing record

- `DELETE FROM`: Deletes data 

- `DROP TABLE`: Removes a table

- `SELECT`: Reads data

## 3. Querying Tables

As a data scientist, you'd probably spend most of your time pulling data of that  interests you and then summarizing it, running models, etc.  `SELECT` is the command for that task.

### `SELECT`

With `SELECT` we pass the column(s) we want `FROM` the table of interest, and specify the records (rows) of interest with a `WHERE`.

First, let's see a way to look at all columns in a table.

<!-- BEGIN QUESTION -->

**Question 2.** Print out all the columns in the `Albums` table. Limit the number of results that get returned to 5.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 3.** Return all the albums from the `Albums` table. Only show the artist id and the title of the album.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

1 is the value for the `ArtisitID`, For the album entitled *For Those About to Rock We Salute You*, but what is the actual name of this particular artist. We can query the`Artist` table to find out.

<!-- BEGIN QUESTION -->

**Question 4.** Return artist name that belongs to `ArtistID` number 1.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

**Question 5.** Save all the artist names to a list named `artists`. There are many ways you can complete this task. You can query the table, save the results to a variable, and then select the column from the dataframe that gets returned. Alternatively, you can skip the intermediate step and grab the column directly from the dataframe that gets returned.

In [ ]:
query = '''
...
'''

artists = ...

artists[:10]

In [ ]:
grader.check("q5")

<!-- BEGIN QUESTION -->

**Question 6.** Choose an artist from your list. Then join the `Artist` and `Album` tables to show the artist name and the title(s) for each album the artist made. This can be using a single SQL Query or, if you prefer, you can manipulate the data frame that gets returned after your join. For example, I chose Miles Davis and this was my output.

| |**Artist**|**Album**|
|-|--------|--------:|
|**0**|Miles Davis|The Essential Miles Davis [Disc 1]|
|**1**|Miles Davis|The Essential Miles Davis [Disc 2]|
|**2**|Miles Davis|Miles Ahead|

**Note:** Make sure you choose an artist other than *Miles Davis* and that the column names are **Artist** and **Album**.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

**Question 7.** Save all the genre names to a list named `genres`. There are many ways you can complete this task. You can query the table, save the results to a variable, and then select the column from the dataframe that gets returned. Alternatively, you can skip the intermediate step and grab the column directly from the dataframe that gets returned.

In [ ]:
query = '''
...
'''

genres = ...
genres

In [ ]:
grader.check("q7")

<!-- BEGIN QUESTION -->

**Question 8.** Choose two different genres from your list and find the `GenreId` for each. 

**Note:** To earn all the points for this question you must show the SQL query that you used.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 9.** Find all the tracks that are listed for each genre you chose in the previous question. This can be using a single SQL Query or, if you prefer, you can manipulate the data frame that gets returned after your join. For example, I chose R&B Soul and Reggae, and this was my output.

| |**Track**|**Genre**|
|-|--------|--------:|
|**0**|Girassol|Reggae|
|**1**|A Sombra Da Maldade|Reggae|
|**2**|Johnny B. Goode|Reggae|
|**...**|||
|**117**|You Know I'm No Good (feat. Ghostface Killah)|R&B/Soul|
|**118**|Rehab (Hot Chip Remix)|R&B/Soul|


**Note:** Make sure you choose a combination other than R&B Soul/Reggae and that the column names are **Track** and **Genre**.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 10.** Choose one track from each genre that you used to complete the two previous questions. This can be using a single SQL Query or, if you prefer, you can manipulate the data frame that gets returned after your join. Find the albums that these tracks appear on. For example, for the tracks I chose I got this.

| |**Track**|**AlbumId**|
|-|--------|--------:|
|**0**|Girassol|26|
|**1**|You Know I'm No Good (feat. Ghostface Killah)|321|


**Note:** Make sure that the column names are **Track** and **AlbumId**.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

<!-- BEGIN QUESTION -->

**Question 11.** List all the tracks on the albums that contain the songs you chose from the previous question. This can be using a single SQL Query or, if you prefer, you can manipulate the data frame that gets returned after your join. For example, my output looks like this:
 
| |**Track**|**Album**|
|-|--------|--------:|
|**0**|Girassol|Acústico MTV [Live]|
|**1**|A Sombra Da Maldade|Acústico MTV [Live]|
|**...**|||
|**27**|You Know I'm No Good (feat. Ghostface Killah)|Back to Black|
|**28**|Rehab (Hot Chip Remix)|Back to Black|



**Note:** Make sure that the column names are **Track** and **Album**.

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

You're probably thinking what if I need to join data from more than tow tables. Well, the good news is you can do it.

<!-- BEGIN QUESTION -->

**Question 12.** Add the artist name to the list of the all the tracks from the previous question. This can be using a single SQL Query or, if you prefer, you can manipulate the data frame that gets returned after your join. For example, my output looks like this:

| |**Track**|**Album**|**Artist**|
|-|--------|-----------:|---------:|
|**0**|Girassol|Acústico MTV [Live]|Cidade Negra|
|**1**|A Sombra Da Maldade|Acústico MTV [Live]|Cidade Negra|
|**...**|||
|**27**|You Know I'm No Good (feat. Ghostface Killah)|Back to Black|Amy Winehouse|
|**28**|Rehab (Hot Chip Remix)|Back to Black|Amy Winehouse|



**Note:** Make sure that the column names are **Track**, **Album** and **Artist**.

**Hint:** You can add another `JOIN` clause to your query from the previous question. For example,

```
SELECT ...
FROM <table 1> JOIN <table 2>
    ON ... = ... JOIN <table 3>
    ON ... = ...
WHERE ... = ... OR ... = ...;
```

In [ ]:
query = '''
...
'''

pd.read_sql(sql=sqlalchemy.text(query), con=db.connect())

<!-- END QUESTION -->

## Submission

Make sure you have run all cells in your notebook in order before running the cell below, so that all images/graphs appear in the output. The cell below will generate a zip file for you to submit. **Please save before exporting!**

In [ ]:
# Save your notebook first, then run this cell to export your submission.
grader.export(run_tests=True)