# Lesson 10: Pandas II

## 0. Table from `datascience`

In [ ]:
from datascience import *

In [ ]:
elections_table = Table.read_table('data/elections.csv')
elections_table

In [ ]:
type(elections_table)

## 1. Pandas

In [ ]:
import numpy as np
import pandas as pd

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

In [ ]:
elections_pd = pd.read_csv('data/elections.csv')
elections_pd

In [ ]:
type(elections_pd)

In [ ]:
elections = elections_pd
elections.head()

In [ ]:
results = elections["Result"]
#.value_counts()
type(results)
results.value_counts()

In [ ]:
type(results)

`value_counts()` method that operates on a series object. It returns the totals from each category in the series.

In [ ]:
party = elections["Party"]
party.value_counts()

In [ ]:
elections.head()

In [ ]:
percent = elections["%"]
percent.value_counts()

In [ ]:
ufo = pd.read_csv('data/ufo.csv')
ufo.head()

In [ ]:
ufo_idx = ufo.set_index('State')
ufo_idx

In [ ]:
ufo_idx.loc['NY'].head()

In [ ]:
ufo.loc[0]

In [ ]:
ufo.iloc[0:2,2:4]

In [ ]:
ufo[ufo['Shape Reported'] == 'LIGHT'].shape[0]

[goupby](https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html)

In [ ]:
ufo.columns

In [ ]:
ufo.groupby("State").count()

In [ ]:
ufo.dtypes

## 2. More Pandas

`.sample`

In [ ]:
elections = pd.read_csv('data/elections.csv')
elections.head()

Which of the following commands returns the dataframe below.

<img src="images/elections1.jpg" />

1. `elections.iloc[[0, 3, 5], [0, 3]]`

2. `elections.loc[[0, 3, 5], ["Candidate":"Year"]]`

3. `elections.loc[elections["%"] > 50, ["Candidate", "Year"]].head(3)`

4. `elections.loc[elections["%"] > 50, ["Candidate", "Year"]].iloc[0:2, :]`

`.sample`

By default, it is **without replacement**. Use `replace=true` for replacement.

`.query`

## 3. More List Comprehensions

In [ ]:
babynames = pd.read_csv('data/baby_names.csv', index_col = 0)
babynames.head()

In [ ]:
j_names = babynames[[i[0] == 'J' for i in babynames['Name']]]
j_names.head()

In [ ]:
j_names = babynames[[i.startswith('J') for i in babynames['Name']]]
j_names.head()

In [ ]:
j_names = babynames[babynames['Name'].str.startswith('J')]
j_names.head()

In [ ]:
babynames[babynames['Name'].str.startswith('J')].sample(10)

In [ ]:
babynames[babynames['Name'].str.contains('ad')].sample(10)

**Question:** 

Write a line of code that creates a list (or Series or array) of all names that end with `“ert”`.

## 4. Adding, Modifying, and Removing Columns

`.str.len`

In [ ]:
babyname_lengths = babynames['Name'].str.len()
babyname_lengths.head()

In [ ]:
babynames["name_lengths"] = babyname_lengths
babynames.head()

Sort the `babynames` dataframe by the values in the `name_lengths` column.

In [ ]:
babynames.sort_values(by = ['name_lengths'])

In [ ]:
babynames.sort_values(by = ['...'], ascending = ...)

In [ ]:
babynames.head()

In [ ]:
babynames.sort_values(by = ['...'], ascending = ..., inplace = ...)
babynames.head()

`.drop`

In [ ]:
babynames = babynames.drop('...', axis = ... )
babynames.head()

## 5. Groupby and Aggregate

For common operations, rather than saying e.g. `groupby.agg(sum)`, we can instead do `groupby.sum()`

In [ ]:
elections.groupby("...").agg(sum).head()

In [ ]:
elections.groupby("...").sum().head()

Be careful when using `.groupby` and `.agg`.

In [ ]:
elections.groupby("Party").agg(max)

**Challenge** 

Suppose we want to build a table showing the total number of babies born of each sex in each year.

## 5.  Pivot Tables

What is a [pivot table](https://en.wikipedia.org/wiki/Pivot_table)?

In [ ]:
babynames.groupby(['...', '...']).agg(sum).head()

In [ ]:
babynames_pivot = babynames.pivot_table(
    index = '...',
    columns = '...',
    values = '...',
    aggfunc = ...
)
babynames_pivot.head()