# Lesson 01: Python Basics and Table Operations

Welcome to Lesson 01!  Throughout the course you will complete assignments like this one. You can't learn technical subjects without hands-on practice, so these assignments are an important part of the course.

Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on a question, so ask a post to the discussion board or ask your instructor for help. Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it. You should **not** just copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

To receive credit for this assignment, answer all questions correctly and submit before the deadline.

**Due Date:** 

**Collaboration Policy:** Data science is a collaborative activity. While you may talk with others about the labs, we ask that you **write your solutions individually**. If you do discuss the assignments with others **please include their names below** (it's a good way to learn your classmates' names).

**Collaborators:** 

List collaborators here.

## Today's Lesson

In today's lab, you'll learn how to:

- do basic arithmetic in Python.

- assign values to variables.

- call functions.

- manipulate table objects.

Let's get started!

## Words of Caution

Remember to run the cell below. It's for setting up the environment so you can have access to what's needed for this lesson. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lessons.

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

## Python

In [ ]:
2+9

In [ ]:
2*9

In [ ]:
2/9

In [ ]:
2+3*9

In [ ]:
(2+3)*9

In [ ]:
2**4

In [ ]:
1234**5

In [ ]:
123456789**1234

In [ ]:
'hello'

## Names

In [ ]:
a = 4

In [ ]:
a

In [ ]:
b = 9

In [ ]:
b

In [ ]:
a*3

In [ ]:
total = a+b

In [ ]:
total

In [ ]:
a = 10

In [ ]:
total

In [ ]:
total = a+b

In [ ]:
total

In [ ]:
'total'

## Why Names?

In [ ]:
hours_per_week = 40
weeks_per_year = 52

In [ ]:
hours_per_year = hours_per_week*weeks_per_year

In [ ]:
hours_per_year

In [ ]:
nc_hourly_minimum_wage = 7.25

In [ ]:
weekly_wages = hours_per_week*nc_hourly_minimum_wage
weekly_wages

In [ ]:
yearly_wages = hours_per_year*nc_hourly_minimum_wage
yearly_wages

In [ ]:
40*7.25

In [ ]:
40*52*7.25

## Functions and Call Expressions

In [ ]:
abs(-5)

In [ ]:
abs(1-3)

In [ ]:
day_temp = 52
night_temp = 47
abs(night_temp-day_temp)

In [ ]:
min(14, 15)

In [ ]:
round(123.456)

In [ ]:
round(123.456, 1)

In [ ]:
round(123.456, ndigits=1)

## Tables

The [datascience](http://data8.org/datascience/) package was written for use in UC Berkeleyâ€™s Data Science 8 course and contains useful functionality for investigating and graphically displaying data. The [table](http://data8.org/datascience/tables.html) object is a rectangular container with rows (observations) and columns (features) that is used to store data.

In [ ]:
cones = Table.read_table('data/cones.csv')
cones

In [ ]:
cones.show(2)

### Never Ever Ever Ever do This

```
cones.show()
```

In [ ]:
cones.select('Flavor')

In [ ]:
cones.select('Flavor', 'Price')

In [ ]:
cones.select(Flavor, 'Price')

In [ ]:
cones.drop('Price')

In [ ]:
cones

In [ ]:
cones_without_price = cones.drop('Price')
cones_without_price

In [ ]:
cones.where('Flavor', 'chocolate')

In [ ]:
cones.sort('Price')

In [ ]:
cones.sort('Price', descending=True)

In [ ]:
cones.sort('Flavor', descending=True)

## A More Interesting Table

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers

In [ ]:
skyscrapers.where('city', '...')

In [ ]:
skyscrapers.where('city', '...')

In [ ]:
skyscrapers.where('name', 'Empire State Building')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed')

In [ ]:
skyscrapers.where('city', 'New York City').sort('completed', descending=True)