# Lesson 02: Data Types

Welcome to Lesson 02!  Throughout the course you will complete assignments like this one. You can't learn technical subjects without hands-on practice, so these assignments are an important part of the course.

Collaborating on labs is more than okay -- it's encouraged! You should rarely remain stuck for more than a few minutes on a question, so ask a post to the discussion board or ask your instructor for help. Explaining things is beneficial, too -- the best way to solidify your knowledge of a subject is to explain it. You should **not** just copy/paste someone else's code, but rather work together to gain understanding of the task you need to complete. 

To receive credit for this assignment, answer all questions correctly and submit before the deadline.

**Due Date:** 

**Collaboration Policy:** Data science is a collaborative activity. While you may talk with others about the labs, we ask that you **write your solutions individually**. If you do discuss the assignments with others **please include their names below** (it's a good way to learn your classmates' names).

**Collaborators:** 

List collaborators here.

## Today's Lesson

In today's lab, you'll learn about:

- data types.

- Tables.

- arrays.

Let's get started!

## Words of Caution

Remember to run the cell below. It's for setting up the environment so you can have access to what's needed for this lesson. For now, don't worry about what it means: we'll learn more about what's inside of it in the next few lessons.

In [ ]:
from datascience import *
import numpy as np

## Numbers

### Integer

In [ ]:
4*5

In [ ]:
20

### Float

In [ ]:
20/3

In [ ]:
20/2

In [ ]:
6/400

In [ ]:
6/400000000000000000

In [ ]:
6/4000

In [ ]:
6/400000000000000000000000000000000000000000000000000000000

In [ ]:
400000000000000000000000000000000000000000000000000000000*1.5e-56

In [ ]:
1.5e-56

The floating point type in Python uses double precision to store the values. Double precision numbers have 53 bits (16 digits) of precision and regular floats have 24 bits (8 digits) of precision. Notice how the number below gets displayed.

In [ ]:
0.12345678901234567890123456789

Sometimes when performing calculations with floating point numbers, you will see a small amount of random error added or subtracted to your result. This is a consequence of how numbers are stored in computers. Thereâ€™s nothing we can really do about it, but you should be aware of it.

In [ ]:
0.12345678901234567890123456789-0.1234567890123456789

In [ ]:
10**0.5

In [ ]:
16**0.5

There is that float issue again.

In [ ]:
(10**0.5)**2

In [ ]:
20/10

In [ ]:
round(3.7)

In [ ]:
round(2.00000057345324, 7)

In [ ]:
10*3.0

### Type Conversion

In [ ]:
20/10

In [ ]:
int(20/10)

In [ ]:
20/9

In [ ]:
int(20/9)

In [ ]:
20/11

The `int` function will always round down.

In [ ]:
int(20/11)

In [ ]:
float(3)

### Assignment Statements

In [ ]:
x = 5

In [ ]:
2x

In [ ]:
2*x

## Strings

In [ ]:
"baby yoda"

In [ ]:
'baby yoda isn't yoda'

In [ ]:
"baby yoda isn't yoda"

In [ ]:
'baby yoda isn't yoda'

### Concatenation

In [ ]:
'straw' + 'berry'

In [ ]:
'straw' + ' ' + 'berry'

In [ ]:
'ha'*10

In [ ]:
'lo'*5.5

In [ ]:
int('3')

In [ ]:
'3'*10

The `int` function will not take a string as a float and convert it into an integer.

In [ ]:
int('3.0')

In [ ]:
float('3.0')

In [ ]:
str(3)

In [ ]:
str(4.5)

## Types ##

In [ ]:
type('10.0')

The `type` function works on objects.

In [ ]:
a = 10
type(a)

In [ ]:
type(4.5)

In [ ]:
type('abc')

In [ ]:
skyscrapers = Table.read_table('data/skyscrapers.csv')
skyscrapers.show(3)

In [ ]:
type(skyscrapers)

In [ ]:
type(True)

In [ ]:
type(abs)

## Arrays ##

In [ ]:
skyscrapers.select(3)

In [ ]:
my_array = make_array(1, 2, 3, 4)

In [ ]:
my_array

In [ ]:
my_array*2

In [ ]:
my_array**2

In [ ]:
my_array+1

Array is unchanged.

In [ ]:
my_array

In [ ]:
len(my_array)

In [ ]:
sum(my_array)

In [ ]:
len(my_array)/sum(my_array)

In [ ]:
another = make_array(60, 70, 80, 90)

In [ ]:
my_array+another

In [ ]:
yet_another = make_array(5, 6, 7)

In [ ]:
my_array+yet_another

In [ ]:
tunas = make_array('bluefin', 'albacore', 'jim')
tunas

In [ ]:
sum(tunas)

In [ ]:
np.mean(my_array)

In [ ]:
len(my_array)

In [ ]:
heights = make_array(67, 60, 71, 63, 65)
heights

In [ ]:
heights/12

In [ ]:
len(heights)

In [ ]:
sum(heights)

In [ ]:
sum(heights)/len(heights)

In [ ]:
np.mean(heights)

In [ ]:
heights.item(3)

In [ ]:
heights.item(0)

## Ranges

In [ ]:
make_array(0, 1, 2, 3, 4, 5, 6)

In [ ]:
np.arange(6)

In [ ]:
np.arange(7)

In [ ]:
np.arange(5, 11)

In [ ]:
np.arange(0, 20, 2)

In [ ]:
np.arange(0, 21, 2)

In [ ]:
np.arange(0, 1, 0.1)

In [ ]:
a = np.arange(8)

In [ ]:
a

In [ ]:
a.item(8)

## Creating a Table from Scratch ##

In [ ]:
streets = make_array('Englewood', 'Knox', 'Green', 'Markham')
streets

`Table()` is a function from the `datascience` library.

In [ ]:
southside = Table().with_column('Streets', streets)
southside

In [ ]:
southside.with_column('Blocks from campus', np.arange(4))

In [ ]:
southside

In [ ]:
southside = southside.with_column('Blocks from campus', np.arange(4))
southside

In [ ]:
southside.labels

In [ ]:
southside.num_columns

In [ ]:
southside.num_rows

## Columns of Tables are Arrays

In [ ]:
charlotte = skyscrapers.where('city', 'Charlotte')
charlotte

In [ ]:
charlotte.select('height')

In [ ]:
np.mean(charlotte.select('height'))

In [ ]:
charlotte.column('height')

In [ ]:
np.mean(charlotte.column('height'))

In [ ]:
dallas = skyscrapers.where('city', 'Dallas')
dallas

In [ ]:
np.mean(dallas.column('height'))-np.mean(charlotte.column('height'))

In [ ]:
np.arange(0,6)

In [ ]:
Numbers = Table().with_column("Numbers", np.arange(2,9,3))

In [ ]:
Numbers