In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Activity 09: Functions and Strings

In this activity you will need to complete two tasks

1. Plot the distribution of average heights of male and females from a group of countries.

2. Find the average human height - based on male and female heights from a group of countries.

## Step 1: Load the Data

In [2]:
heights = Table().read_table('data/human_heights.csv')
heights

Country     | Average male height     | Average female height
Argentina   | 174.46 cm (5 ft 8.6 in) | 161.03 cm (5 ft 3.4 in)
Australia   | 178.4 cm (5' 10.2")     | 163.9 cm (5' 4.5")
Bahrain     | 165.1 cm (5' 5")        | 154.7 cm (5' 1")
Belgium     | 176.6 cm (5' 9.5")      | 163.3 cm (5' 4.3")
Brazil      | 169.0 cm (5' 6.5")      | 158.0 cm (5' 2.2")
Cameroon    | 170.6 cm (5' 7.2")      | 161.3 cm (5' 3.5")
Canada      | 174 cm (5' 8.5")        | 161.0 cm (5' 3.4")
China (PRC) | 164.8 cm (5' 4.9")      | 154.5 cm (5' 0.8")
China       | 169.4 cm (5' 6.7")      | 158.6 cm (5' 2.5")
Colombia    | 170.64 cm (5' 7.2")     | 158.65 cm (5' 2.4")
... (44 rows omitted)

## Step 2: Change the Heights

## Step 3: Create the Visualization

## Step 4: Compute the Average "Human Height"

In [4]:
import pandas as pd

In [6]:
h = pd.read_csv('data/human_heights.csv')
h.head(10)

       Country      Average male height    Average female height
0    Argentina  174.46 cm (5 ft 8.6 in)  161.03 cm (5 ft 3.4 in)
1    Australia      178.4 cm (5' 10.2")       163.9 cm (5' 4.5")
2      Bahrain         165.1 cm (5' 5")         154.7 cm (5' 1")
3      Belgium       176.6 cm (5' 9.5")       163.3 cm (5' 4.3")
4       Brazil       169.0 cm (5' 6.5")       158.0 cm (5' 2.2")
5     Cameroon       170.6 cm (5' 7.2")       161.3 cm (5' 3.5")
6       Canada         174 cm (5' 8.5")       161.0 cm (5' 3.4")
7  China (PRC)       164.8 cm (5' 4.9")       154.5 cm (5' 0.8")
8        China       169.4 cm (5' 6.7")       158.6 cm (5' 2.5")
9     Colombia      170.64 cm (5' 7.2")      158.65 cm (5' 2.4")

In [11]:
float(h['Average male height'][0].split()[0])

174.46

In [48]:
all_heights = np.array([])

for i in range(h.shape[0]):
    all_heights = np.append(all_heights, float(h['Average female height'][i].split()[0]))
    all_heights = np.append(all_heights, float(h['Average male height'][i].split()[0]))

In [50]:
np.average(all_heights)

166.15444444444441

In [38]:
x=np.array([])
np.append(x, 21)

array([ 21.])